/Aqustar.class
/Battle.class
/BattleLegend.class
/Cheer.class
/Choice.class
/DayNight.class
/Fire.class
/Firepokemon.class
/Grasspokemon.class
/GroupBattle.class
/Image.class
/Ketupi.class
/Longston.class
/Narration.class
/Paili.class
/Pokemon.class
/PokemonMain.class
/Rockpokemon.class
/User.class
/Waterpokemon.class
